html {
    height: 100%;
    margin: 0;
    font-size: 20px;
}

body {
    --body-horizontal-padding: 4.75rem;
    --max-body-width: 54rem;
    --small-font-size: 0.85rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1.5rem var(--body-horizontal-padding);
    margin: 0 auto;
    max-width: var(--max-body-width);
    background: var(--background);
    min-height: 100%;
}

iframe {
    border: none;
    width: 100%;
    height: 95vh;
}

main {
    flex: 1 0 auto;
}

article {
    line-height: 1.25;
}

time {
    display: block;
    text-align: end;
    font-size: var(--small-font-size);
}

section {
    padding: 0;
    margin: 0;
}

section + section {
    margin-top: 1.5rem;
}

figure {
    position: relative;
    width: 100vw;
    max-width: 75rem;
    margin: 1.5rem 0;
    margin-inline: calc(50% - 50vw);
    background: var(--background);
}

figure img {
    width: 40%;
    height: auto;
    min-width: 29rem;
    max-width: 100%;
}

figcaption {
    padding: 0.6rem var(--body-horizontal-padding);
    font-size: var(--small-font-size);
    text-align: center;
    max-width: 38rem;
    margin: auto;
}

figure iframe + custom-theme custom-button {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
}

@media (hover: hover) {
    figure iframe + custom-theme custom-button {
        display: none;
    }

    figure:hover > iframe + custom-theme custom-button {
        display: block;
    }
}

hr {
    /* for cases when parent is display: flex, which makes hr width 1px */
    width: 100%;
    margin: 1.1rem 0;
}

footer {
    padding: 0.8rem 0;
    font-size: var(--small-font-size);
}

@media (max-width: 48rem) {
    body {
        --body-horizontal-padding: 1rem;
    }

    figure img {
        width: 100%;
        min-width: 0;
    }
}
