html {
    height: 100%;
    margin: 0;
}

body {
    --body-horizontal-padding: 6rem;
    --max-body-width: 68rem;
    --primary-font-size: 1.25rem;
    --secondary-font-size: 1rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2rem var(--body-horizontal-padding);
    margin: 0 auto;
    max-width: var(--max-body-width);
    background: var(--background);
    min-height: 100%;
}

iframe {
    border: none;
    width: 100%;
    height: 95vh;
}

nav {
    font-size: var(--primary-font-size);
}

main {
    flex: 1 0 auto;
}

article {
    font-size: var(--primary-font-size);
    line-height: 1.25;
}

time {
    display: block;
    text-align: end;
    font-size: var(--secondary-font-size);
}

section {
    padding: 0;
    margin: 0;
}

section + section {
    margin-top: 2rem;
}

figure {
    position: relative;
    width: 100vw;
    max-width: 94.5rem;
    margin: 2rem 0;
    margin-inline: calc(50% - 50vw);
    background: var(--background);
}

figure img {
    width: 40%;
    height: auto;
    min-width: 36rem;
    max-width: 100%;
}

figcaption {
    padding: 0.75rem var(--body-horizontal-padding);
    font-size: var(--secondary-font-size);
    text-align: center;
    max-width: 48rem;
    margin: auto;
}

figure iframe + custom-button {
    display: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

figure:hover > iframe + custom-button {
    display: block;
}

hr {
    /* for cases when parent is display: flex, which makes hr width 1px */
    width: 100%;
    margin: 1.5rem 0;
}

footer {
    padding: 1rem 0;
}
